%li.sidebar__bottom__list
  = link_to new_group_message_path(group) do
    %h3
      = group.name
    %p
      - if group.messages.exists?
        = group.messages.last.body
      - else
        まだメッセージはありません。
