%div.conformation
%div.main
  %div.sidebar
    %div.sidebar__upper
      %a
        %h2
          = current_user.name
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o{'aria-hidden': 'true'}
      = link_to edit_user_registration_path do
        %i.fa.fa-cog{'aria-hidden': 'true'}
    %div.sidebar__bottom
      %ul
        - @groups.each do |group|
          = render partial: "message", locals:{group:group}
  / %div.contents
  /   %header
  /     %h2 group.name
  /     %p Edit
  /     %h4
  /     = current_user.name
  /   %div.content
  /     %ul
  /       %li.content__list
  /         %h2 current_user.name
  /         %h4 created_at
  /         %p comment
  /       %li.content__list
  /         %h2 current_user.name
  /         %h4 created_at
  /         %p comment
  /       %li.content__list
  /         %h2 current_user.name
  /         %h4 created_at
  /         %p comment
  /       %li.content__list
  /         %h2 current_user.name
  /         %h4 created_at
  /         %p comment
  /   %footer
  /     %form.comment
  /       %textarea{placeholder: 'send a message'}
  /       %i.fa.fa-picture-o{'aria-hidden': 'true', style: 'line-height: 50px'}
  /       %input{type: 'submit'}
