%div.conformation
  %p メッセージを送信しました。
%div.contents-nav
  %div.sidebar
    %div.sidebar__upper
      %h2 current.user.name
      %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
      %i.fa.fa-cog{"aria-hidden" => "true"}
    %div.sidebar__bottom
      %ul
        %li.sidebar__bottom__list
          %h3 group.name
          %p message
        %li.sidebar__bottom__list
          %h3 group.name
          %p message
        %li.sidebar__bottom__list
          %h3 group.name
          %p message
        %li.sidebar__bottom__list
          %h3 group.name
          %p message
        %li
  %div.contents
    %header
      %h2 group.name
      %p Edit
      %h4 user.name
    %div.content
      %ul
        %li.content__list
          %h2 current_user.name
          %h4 created_at
          %p comment
        %li.content__list
          %h2 current_user.name
          %h4 created_at
          %p comment
        %li.content__list
          %h2 current_user.name
          %h4 created_at
          %p comment
        %li.content__list
          %h2 current_user.name
          %h4 created_at
          %p comment
    %footer
      %form
        %textarea{:placeholder => "send a message"}
        %i.fa.fa-picture-o{"aria-hidden" => "true", style: "line-height: 50px"}
        %input{:type => "submit"}