.notice {
  background-color: $blue;
  width: 100%;
  clear: both;
  text-align: center;
  color: $white;
}

.alert {
  background-color: $blue;
  width: 100%;
  clear: both;
  text-align: center;
  color: $white;
}
