@import "valiables";
.conformation {
  background-color: $blue;
  width: 100%;
  clear: both;

  p {
  text-align: center;
  color: $white;
  }
}


.main {
  width: 100vw;
  }

.contents {
 width: calc(100vw - 300px);
 float: right;
}

header {
  height: 126px;
  padding: 0 40px 0;

  h2 {
  float: left;
  font-size: 20px;
  padding: 35px 0 15px;
  color: $black;
  }

  h4 {
  clear: both;
  font-size: 12px;
  color: $list-h4;
  }

  p {
  float: right;
  margin-top: 28px;
  border: solid;
  color: $blue;
  border-color: $blue;
  padding: 0 20px 0;
  line-height: 40px;
  border-width: thin;
  }
}


.content {
  background-color: $white;
  border-top: solid;
  border-color: $content-border;
  border-width: thin;
  height: calc(100vh - 223px );
  padding: 6px 40px 0;
  overflow: auto;

  &__list {
    h2 {
    padding-top: 40px;
    color: $dark-blue;
    font-size: 16px;
    font-weight: bold;
    display: table-cell;
    }

    h4 {
    display: table-cell;
    padding-left: 10px;
    color: $list-h4;
    font-size: 12px;
    }

    p {
    color: $dark-blue;
    padding-top: 10px;
    font-size: 14px;
    }
  }
}


footer{
  padding: 20px 40px;
  background-color: $white-glay;
&:after {
  content: "";
  clear: both;
  display: block;
}
}

form{

  textarea{
  width: calc(100% - 109.16px);
  float: left;
  padding:10px;
  font-size: 16px;
  color: $dark-blue;
  border: none;
  resize: none;
  height: 30px;
  }

  input{
  background-color: $blue;
  float: right;
  line-height: 50px;
  color: $white;
  padding: 0 20px 0;
  border: none;
  }

  i {
  position: relative;
  right: 3%;
  background-color: $white;
  color: $white-glay;
  }
}
