.sidebar {
  width: 300px;
  float: left;

  &__upper {
    background-color: $side-upper;
    height: 126px;
    padding: 0 20px 0;
    h2 {
      font-weight: bold;
      color: $white;
      font-size: 16px;
      line-height: 126px;
      display: inline-block;
    }
    i {
      padding-left:20px;
      color: $white;
    }
  }

  &__bottom {
    height: calc(100vh - 126px);
    padding: 0 20px 0;
    background-color: $side-bottom;
    overflow: auto;
  }

  &__bottom__list {
    padding: 20px 0;
    a {
      color: $white;
      text-decoration: none;
      h3 {
        font-size: 15px;
        padding-bottom: 5px;
      }
    }
    p {
      color: $white;
      font-size: 11px;
    }
  }
}
